@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@300&display=swap");

:root {
  --primary: rgb(254, 255, 230);
  --secondary: rgb(204, 243, 255);
  --bg: rgb(34, 34, 34);
  background-color: var(--bg);
}

.App {
  font-family: "Quicksand", sans-serif;
  color: var(--primary);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Me {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--primary);
  float: left;
  margin-right: 10px;
}

h1 {
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h5 {
  font-size: 1rem;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
  margin-right: 7px;
}

p {
  padding-left: 2px;
}

.Icon {
  width: 15px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.Icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid var(--primary);
  background-color: var(--primary);
}

.Icon img:hover {
  border: 3px solid var(--secondary);
  background-color: var(--secondary);
}

.Icons {
  margin-top: 1px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 680px) {
  .Me {
    width: 200px;
    border: 5px solid var(--primary);
  }

  h1 {
    font-size: 6.4rem;
  }

  h5 {
    font-size: 2rem;
    float: left;
    margin-right: 12px;
    margin-bottom: 60px;
    margin-left: 5px;
  }

  p {
    font-size: 1.5rem;
    padding-left: 10px;
  }

  .Icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
  }

  .Icon img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--primary);
    background-color: var(--primary);
  }

  .Icon img:hover {
    border: 3px solid var(--secondary);
    background-color: var(--secondary);
  }

  .Icons {
    margin-top: 3px;
    margin-bottom: 105px;
  }
}
